---
import Layout from "../layouts/Layout.astro";
const githubURL = 'https://www.github.com/vyonyx'
const linkedInURL = 'https://www.linkedin.com/in/shaneel-kumar-b3812a173/'
---

<Layout title="SK Details">
  <main>
    <a href={githubURL}>Github</a>
    <a href={linkedInURL}>LinkedIn</a>
  </main>
</Layout>