---
import Layout from '../layouts/Layout.astro';
import HeroBanner from '../components/HeroBanner.astro';
import PortfolioPreviews from '../components/PortfolioPreviews.astro';
---

<Layout title="SK Portfolio">
	<main>
		<HeroBanner />
    <PortfolioPreviews />
	</main>
</Layout>
