---
import Layout from "../layouts/Layout.astro";
import HeroBanner from "../components/HeroBanner.astro";
import PortfolioPreviews from "../components/PortfolioPreviews.astro";
import MiscProjects from "../components/MiscProjects.astro";
import ThesisPreview from "../components/ThesisPreview.astro";
import AboutMe from "../components/AboutMe.astro";
---

<Layout title="SK Portfolio">
  <main>
    <HeroBanner />
    <AboutMe />
    <PortfolioPreviews />
    <MiscProjects />
    <ThesisPreview />
  </main>
</Layout>
