---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Thesis">
  <main class="pt-20 bg-neutral-900 text-white w-screen h-screen relative">
    <div
      class="bg-red-500 px-10 py-6 shadow-md text-6xl absolute top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 overflow-y-hidden"
    >
      <h1>Thesis Coming Soon</h1>
    </div>
  </main>
</Layout>
