---
import ImageSlider from "../components/ImageSlider.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Thesis">
  <div
    class="p-20 bg-neutral-900 text-white w-screen min-h-screen relative flex flex-col items-center gap-10"
  >
    <main class="max-w-4xl grid gap-10">
      <h1 class="text-6xl text-center">Emergent Ecologys</h1>
      <picture>
        <source srcset="/thesis/Aerial-2400w.webp" />
        <img
          src="/thesis/Aerial-2400w.webp"
          alt="thesis aerial render"
          class="object-scale-down"
        />
      </picture>

      <p>
        My thesis focused on creating a tool/methodology to help designers
        simulate the behaviour of a demographic and use the resulting visual
        feedback to inform their spatial planning and design.
      </p>

      <h2 class="text-4xl text-center">Behaviour</h2>

      <ImageSlider images={[]} />
    </main>

    <!-- <div
      class="bg-red-500 px-10 py-6 shadow-md text-6xl absolute top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 overflow-y-hidden"
    >
      <h1>Thesis Coming Soon</h1>
    </div> -->
  </div>
</Layout>
