---
const githubURL = "https://www.github.com/vyonyx";
const linkedInURL = "https://www.linkedin.com/in/shaneel-kumar/";
const { section } = Astro.props;
---

<div
  data-card={section}
  class="w-full h-fit max-h-[950px] grid grid-cols-1 lg:grid-cols-4 auto-rows-auto justify-items-center gap-20 bg-neutral-900 text-white p-5 lg:p-10"
>
  <div
    class="rounded-xl w-full bg-white aspect-square overflow-hidden max-w-sm 2xl:max-w-md"
  >
    <img src="/profile-photo.jpg" alt="Shaneel Kumar portrait" />
  </div>
  <div class="lg:col-span-3 flex flex-col gap-5">
    <p class="text-md lg:text-justify max-w-3xl">
      Hello, my name is Shaneel Kumar and I am a Full Stack Developer! I have
      recently graduated from Dev Academy Aotearoa and I am excited to get into
      the industry to make a difference.
    </p>
    <p class="text-md lg:text-justify max-w-3xl">
      I am driven by my need to create consistently, whether it's web
      development, making music, or throwing together a dish with whatever's
      left in the fridge! Creativity and curiosity are core values to me and I
      am always learning new skills to take my work to the next level.
    </p>
    <p class="text-md lg:text-justify max-w-3xl">
      I have since explored learning web development as a hobby and chose to
      attend a boot camp to change careers. I think web development is an
      incredibly creative field and I am excited to learn and build more
      everyday. I am also passionate about using cutting edge animation and 3D
      technologies to create unique experiences on the web.
    </p>
    <span class="flex gap-20 text-lg">
      <a class="flex gap-2 items-center" href={linkedInURL}>
        <svg
          fill="white"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
        >
          <path
            d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z"
          ></path>
        </svg>
        LinkedIn
      </a>
      <a class="flex gap-2 items-center" href={githubURL}>
        <svg
          fill="white"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          ><path
            d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-4.466 19.59c-.405.078-.534-.171-.534-.384v-2.195c0-.747-.262-1.233-.55-1.481 1.782-.198 3.654-.875 3.654-3.947 0-.874-.312-1.588-.823-2.147.082-.202.356-1.016-.079-2.117 0 0-.671-.215-2.198.82-.64-.18-1.324-.267-2.004-.271-.68.003-1.364.091-2.003.269-1.528-1.035-2.2-.82-2.2-.82-.434 1.102-.16 1.915-.077 2.118-.512.56-.824 1.273-.824 2.147 0 3.064 1.867 3.751 3.645 3.954-.229.2-.436.552-.508 1.07-.457.204-1.614.557-2.328-.666 0 0-.423-.768-1.227-.825 0 0-.78-.01-.055.487 0 0 .525.246.889 1.17 0 0 .463 1.428 2.688.944v1.489c0 .211-.129.459-.528.385-3.18-1.057-5.472-4.056-5.472-7.59 0-4.419 3.582-8 8-8s8 3.581 8 8c0 3.533-2.289 6.531-5.466 7.59z"
          ></path>
        </svg>
        Github
      </a>
    </span>
  </div>
</div>
