---
import AboutMeCard from "./AboutMeCard.astro";
const section = "about";
---

<section
  class="h-fit relative bg-neutral-900 grid xs:grid-cols-1 grid-rows-auto justify-items-center place-items-center p-10 pt-40 gap-6 lg:p-20 lg:pt-40"
>
  <h1
    id={`${section}`}
    class="font-bodoni text-4xl lg:text-6xl text-white xs:relative lg:absolute lg:top-20"
  >
    About Me
  </h1>

  <AboutMeCard section={section} />;
</section>

<script>
  import { renderAnimation } from "../utils";

  const section = "about";
  renderAnimation(section);
</script>
