---

---
<section class="text-white col-span-2 grid auto-rows-auto">
  <h1 class="text-4xl mb-6">Education</h1>
  <ul class="w-full grid auto-rows-auto text-sm md:text-md lg:text-lg gap-10 md:gap-2">
    <li class="max-w-2xl lg:max-w-3xl flex flex-col-reverse md:flex-row md:justify-between md:items-center">
      <div class="flex flex-col lg:flex-row gap-0 lg:gap-2">
        <span class="bold">Level 6 Web Development</span>
        <span class="hidden lg:inline">-</span>
        <span class="italic">Dev Academy Aotearoa</span>
      </div>
      <h3 class="self-start">2022</h3>
    </li>
    <li class="max-w-2xl lg:max-w-3xl flex flex-col-reverse md:flex-row md:justify-between md:items-center">
      <div class="flex flex-col lg:flex-row gap-0 lg:gap-2">
        <span class="bold">Master of Architecture [Prof.]</span>
        <span class="hidden lg:inline">-</span>
        <span class="italic">Victoria University of Wellington</span>
      </div>
      <h3 class="self-start">2016 - 2017</h3>
    </li>
    <li class="max-w-2xl lg:max-w-3xl flex flex-col-reverse md:flex-row md:justify-between md:items-center">
      <div class="flex flex-col lg:flex-row gap-0 lg:gap-2">
        <span class="bold">Bachelor of Architectural Studies</span>
        <span class="hidden lg:inline">-</span>
        <span class="italic">Victoria University of Wellington</span>
      </div>
      <h3 class="self-start">2013 - 2015</h3>
    </li>
  </ul>
</section>