---
import { experience } from "../data";
import ListItem from "./ListItem.astro";
---
<section class="text-white col-span-2">
  <h1 class="text-4xl mb-6">Experience</h1>
  <ul class="w-full text-md lg:text-lg">
    {experience.map(({title, company, year, description}) => {
      return (
        <ListItem
          main={title}
          secondary={company}
          year={year}
          description={description}
        />
      )
    })}
  </ul>
</section>