---

---

<section class="relative h-screen flex flex-col font-serif items-center justify-center bg-neutral-900 text-center bg-cover bg-center bg-[url(/swarm-hero.jpg)]">
  <div class="absolute w-full h-full top-0 left-0 bg-neutral-900 z-0 opacity-70"></div>
  <h1 class="text-8xl text-white z-10">Shaneel Kumar</h1>
  <h1 class="text-5xl text-white z-10">Portfolio</h1>
</section>