---
import type { Project } from "../env";

export interface Props {
  project: Project;
  section: string;
}
const { project, section } = Astro.props;
const { name, description, thumbnail } = project;
---

<a
  href="/thesis"
  data-card={section}
  class="w-full h-full flex flex-col justify-center items-center gap-10 bg-neutral-900 text-white p-5 lg:p-10 hover:cursor-pointer overflow-hidden relative"
>
  <h1 class="text-4xl text-center z-10">{name}</h1>
  <p class="text-sm lg:text-md max-w-xl text-center z-10">{description}</p>
  <div
    class={`w-full h-full absolute top-0 left-0 bg-[url(/swarm-hero-1024.jpg)] lg:bg-[url(/swarm-hero-2560.jpg)] bg-cover bg-center hover:scale-110 ease-in duration-200`}
  >
  </div>
</a>
