---
const { project, section } = Astro.props
const { name, description, thumbnail } = project
---

<div data-card={section} class="w-full h-full flex flex-col justify-center items-center gap-10 bg-neutral-900 text-white p-5 lg:p-10 bg-[url('/swarm-hero.jpg')] bg-cover bg-center">
  <h1 class="text-4xl text-center">{name}</h1>
  <p class="text-sm lg:text-md max-w-xl text-center">{description}</p>
</div>