---
import Card from "./Card.astro";
export interface Project {
  name: string;
  thumbnail: string;
  description: string;
  githubLink?: string;
  liveLink?: string;
}

const projects: Project[] = [
  {
    name: 'Neighbourly',
    thumbnail: 'https://images.unsplash.com/photo-1519222970733-f546218fa6d7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80',
    description: 'Marketplace for neighbours to barter and give away food, building stronger relationships with those around you.',
    githubLink: 'https://github.com/Vyonyx/neighbourly',
    liveLink: 'https://github.com/Vyonyx/neighbourly',

  },
  {
    name: 'At What Cost',
    thumbnail: 'https://images.unsplash.com/photo-1486406146926-c627a92ad1ab?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80',
    description: 'Budget tracking app used to understand what you\'re spending money on so you can make informed decisions about your finances.',
    githubLink: 'https://github.com/Vyonyx/neighbourly',
    liveLink: '',
  },
  
  {
    name: 'Neighbourly',
    thumbnail: 'https://images.unsplash.com/photo-1519222970733-f546218fa6d7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80',
    description: 'Marketplace for neighbours to barter and give away food, building stronger relationships with those around you.',
    githubLink: 'https://github.com/Vyonyx/neighbourly',
    liveLink: 'https://github.com/Vyonyx/neighbourly',
  },
  // {
  //   name: 'At What Cost',
  //   thumbnail: 'https://images.unsplash.com/photo-1486406146926-c627a92ad1ab?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80',
  //   description: 'Budget tracking app used to understand what you\'re spending money on so you can make informed decisions about your finances.'
  // },
]
---

<section class="min-h-screen h-fit relative bg-neutral-900 grid grid-cols-1 lg:grid-cols-3 grid-rows-auto justify-items-center place-items-center gap-5 p-10 pt-40 lg:gap-20 lg:p-20 lg:pt-40 relative">
  <h1 id="sectionTitle" class="text-4xl lg:text-6xl text-white lg:absolute lg:top-20">Development</h1>
  {projects.map((project:Project) => {
    return <Card project={project} />
  })}
</section>

<script>
  import gsap from 'gsap'
  import { ScrollTrigger } from 'gsap/ScrollTrigger'
  gsap.registerPlugin(ScrollTrigger)
  const cards = document.querySelectorAll('[data-card]')

  const tl = gsap.timeline({
    scrollTrigger: {
      trigger: cards,
      start: 'top 80%',
      end: 'top 30%',
      scrub: 2
    },
  })

  tl.from('#sectionTitle', {
    opacity: 0,
    duration: 1,
    y: window.innerWidth < 768 ? -10 : -50,
    ease: 'sin.easeInOut'
  })
  tl.from(cards, {
    opacity: 0,
    duration: 1,
    y: 100,
    ease: 'sin.easeInOut'
  }, '<')
</script>