---
import Card from "./Card.astro"
import { projects } from "../data"
const section = 'portfolio'
---
<section class="min-h-screen h-fit relative bg-neutral-900 grid grid-cols-1 lg:grid-cols-3 grid-rows-auto justify-items-center place-items-center gap-5 p-10 pt-40 lg:gap-20 lg:p-20 lg:pt-40 relative">
  <h1 id={`${section}`} class="text-4xl lg:text-6xl text-white lg:absolute lg:top-20">Development</h1>
  {projects.map((project) => {
    return <Card project={project} section={section} />
  })}
</section>

<script>
  import { renderAnimation } from '../utils'

  const section = 'portfolio'
  renderAnimation(section)
</script>