---
import Card from "./Card.astro"
import { projects } from "../data"
const section = 'portfolio'
---
<section class="h-fit relative bg-neutral-900 grid xs:grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 grid-rows-auto justify-items-center place-items-center p-10 pt-40 gap-6 lg:p-20 lg:pt-40 relative">
  <h1 id={`${section}`} class="text-4xl lg:text-6xl text-white lg:absolute lg:top-20">Development</h1>
  {projects.map((project) => {
    return <Card project={project} section={section} />
  })}
</section>

<script>
  import { renderAnimation } from '../utils'

  const section = 'portfolio'
  renderAnimation(section)
</script>